
<div class="container">
<form class="form" action="/admin/login" method="POST">
    <h2 class="header">Login parolizni kiriting</h2>
    <div class="form__div">
    <input type="text" name="adminUser" required>
    <label for="" class="form__label">Login</label>
    </div>
    <div class="form__div">
    <input type="password" name="adminPassword" required>
    <label for="" class="form__label">Parol</label>
    </div>
    <div class="form__div">
    <input class="submit" type="submit">
    </div>
</form>
</div>