<header>
    <div
        id="login-modal"
        class="fixed z-[60] top-1/2 -translate-x-1/2 left-1/2 -translate-y-1/2 bg-white shadow-1 w-max mx-auto rounded-lg px-5 sm:px-10 pt-12 pb-5 opacity-0 pointer-events-none duration-200"
    >
        <button
        id="login-modal-closer"
        class="absolute top-2 right-5 text-[20px]"
        >
        <i class="fa-solid fa-xmark"></i>
        </button>
        <button
        class="p-[2px] bg-[#4b7fe0] text-white flex items-center rounded-sm"
        >
        <img
            src="/assets/images/google-logo.png"
            alt="Login With Google"
            class="w-8 h-8 sm:w-11 sm:h-11 rounded-sm bg-white p-1"
        />
        <p class="py-1 px-3 font-sans">Google orqali kirish</p>
        </button>
    </div>
    <div
        id="login-modal-overlay"
        class="fixed top-0 z-50 left-0 w-full h-full bg-[#ffffffbc] opacity-0 pointer-events-none duration-200"
    ></div>
    <div
        class="h-[250px] flex items-center justify-center md:justify-between flex-col space-y-6 md:space-y-0 md:flex-row bg-gray-100 text-black"
    >
        <h1
        class="px-12 font-prompt text-[35px] sm:text-[50px] font-semibold leading-[67px]"
        >
        Contact Us
        </h1>
        <ul
        class="flex px-12 text-[13px] md:text-[15px] font-light space-x-3"
        >
        <li>
            <a href="{{url}}/"> Home </a>
        </li>
        <li>></li>
        <li class="w-max">User Dashboard</li>
        </ul>
    </div>
</header>
<section
class="py-10 container mx-auto px-6 md:px-10 lg:px-20 flex flex-col-reverse md:flex-row md:space-x-10 text-main-gray-100"
>
<ul
    class="w-full md:w-[315px] h-fit mt-8 md:mt-0 space-y-4 bg-gray-100 py-[21px] px-6 text-[13px] font-semibold uppercase tracking-wider text-main-gray-100"
>
    <li>
    <a href="{{url}}/dashboard" class="text-main-green-100">
        <i class="fa-solid fa-user text-[14px] mr-2"></i>
        <span>Profil</span>
    </a>
    </li>
    <li>
    <a
        href="{{url}}/dashboard/edit"
        class="hover:text-main-green-100 duration-200"
    >
        <i class="fa-solid fa-user text-[14px] mr-2"></i>
        <span>Profilni Tahrirlash</span>
    </a>
    </li>
    <li>
    <a
        href="{{url}}/dashboard/reserved"
        class="hover:text-main-green-100 duration-200"
    >
        <i class="fa-solid fa-user text-[14px] mr-2"></i>
        <span>Ko'rsatilgan Xizmatlar</span>
    </a>
    </li>
    <li>
    <a href="#" class="hover:text-main-green-100 duration-200">
        <i class="fa-solid fa-user text-[14px] mr-2"></i>
        <span>Chiqish</span>
    </a>
    </li>
</ul>
<div
    class="w-full grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-x-3 gap-y-5"
>
    <div class="w-full border group">
    <div class="w-full h-56 overflow-hidden">
        <img
        src="/assets/images/demos/1.jpg"
        alt="Purchased Offer"
        class="w-full h-full object-cover group-hover:scale-110 duration-500"
        />
    </div>
    <div class="text-[12px] p-3">
        <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere
        numquam commodi, porro nostrum officiis repudiandae.
        </p>
        <p class="text-black mt-3 mb-2 text-[16px]">300000.00 UZS</p>
        <span>status: <b>bajarildi</b></span>
    </div>
    </div>
    <div class="w-full border group">
    <div class="w-full h-56 overflow-hidden">
        <img
        src="/assets/images/demos/1.jpg"
        alt="Purchased Offer"
        class="w-full h-full object-cover group-hover:scale-110 duration-500"
        />
    </div>
    <div class="text-[12px] p-3">
        <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere
        numquam commodi, porro nostrum officiis repudiandae.
        </p>
        <p class="text-black mt-3 mb-2 text-[16px]">300000.00 UZS</p>
        <span>status: <b>bajarildi</b></span>
    </div>
    </div>
    <div class="w-full border group">
    <div class="w-full h-56 overflow-hidden">
        <img
        src="/assets/images/demos/1.jpg"
        alt="Purchased Offer"
        class="w-full h-full object-cover group-hover:scale-110 duration-500"
        />
    </div>
    <div class="text-[12px] p-3">
        <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere
        numquam commodi, porro nostrum officiis repudiandae.
        </p>
        <p class="text-black mt-3 mb-2 text-[16px]">300000.00 UZS</p>
        <span>status: <b>bajarildi</b></span>
    </div>
    </div>
    <div class="w-full border group">
    <div class="w-full h-56 overflow-hidden">
        <img
        src="/assets/images/demos/1.jpg"
        alt="Purchased Offer"
        class="w-full h-full object-cover group-hover:scale-110 duration-500"
        />
    </div>
    <div class="text-[12px] p-3">
        <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere
        numquam commodi, porro nostrum officiis repudiandae.
        </p>
        <p class="text-black mt-3 mb-2 text-[16px]">300000.00 UZS</p>
        <span>status: <b>bajarildi</b></span>
    </div>
    </div>
    <div class="w-full border group">
    <div class="w-full h-56 overflow-hidden">
        <img
        src="/assets/images/demos/1.jpg"
        alt="Purchased Offer"
        class="w-full h-full object-cover group-hover:scale-110 duration-500"
        />
    </div>
    <div class="text-[12px] p-3">
        <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere
        numquam commodi, porro nostrum officiis repudiandae.
        </p>
        <p class="text-black mt-3 mb-2 text-[16px]">300000.00 UZS</p>
        <span>status: <b>bajarildi</b></span>
    </div>
    </div>
    <div class="w-full border group">
    <div class="w-full h-56 overflow-hidden">
        <img
        src="/assets/images/demos/1.jpg"
        alt="Purchased Offer"
        class="w-full h-full object-cover group-hover:scale-110 duration-500"
        />
    </div>
    <div class="text-[12px] p-3">
        <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere
        numquam commodi, porro nostrum officiis repudiandae.
        </p>
        <p class="text-black mt-3 mb-2 text-[16px]">300000.00 UZS</p>
        <span>status: <b>bajarildi</b></span>
    </div>
    </div>
    <div class="w-full border group">
    <div class="w-full h-56 overflow-hidden">
        <img
        src="/assets/images/demos/1.jpg"
        alt="Purchased Offer"
        class="w-full h-full object-cover group-hover:scale-110 duration-500"
        />
    </div>
    <div class="text-[12px] p-3">
        <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere
        numquam commodi, porro nostrum officiis repudiandae.
        </p>
        <p class="text-black mt-3 mb-2 text-[16px]">300000.00 UZS</p>
        <span>status: <b>bajarildi</b></span>
    </div>
    </div>
</div>
</section>